name: custom-builder

on:
  push:
    tags:
    - '*'
    paths-ignore:
    - 'CHANGELOG.md'
    - 'LICENSE.txt'
    - 'README.md'
  workflow_dispatch:
    inputs:
      tags:
        description: 'Test scenario tags'
        required: false
        type: string

env:
  GH_TOKEN: ${{secrets.GITHUB_TOKEN}}

jobs:
  build-macos:
    runs-on: macos-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v4
      with:
        fetch-depth: 0

    - name: Install .NET 10.0
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: '10.0.x'

    - name: Install Xcode 26.1.1
      uses: maxim-lobanov/setup-xcode@v1
      with:
        xcode-version: '26.1.1'

    - name: Build and Publish
      if: |
        github.event_name == 'push' ||
        github.event_name == 'workflow_dispatch'
      shell: bash
      run: |
        sudo -E dotnet workload install macos --version 10.0.100.1
        sudo -E dotnet run --file build/Build.cs

  build-windows:
    runs-on: windows-2022

    steps:
    - name: Checkout
      uses: actions/checkout@v4
      with:
        fetch-depth: 0

    - name: Install .NET 10.0
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: '10.0.x'

    - name: Build and Publish
      if: |
        github.event_name == 'push' ||
        github.event_name == 'workflow_dispatch'
      shell: bash
      run: |
        dotnet run --file build/Build.cs