name: dotnet-releaser

on:
  push:
    tags:
    - '*'
    paths-ignore:
    - 'CHANGELOG.md'
    - 'LICENSE.txt'
    - 'README.md'
  workflow_dispatch:

jobs:
  build:
    runs-on: windows-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v4
      with:
        fetch-depth: 0

    - name: Install .NET 10.0
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: '10.0.x'

    - name: Build and Publish
      if: |
        github.event_name == 'push' ||
        github.event_name == 'workflow_dispatch'
      shell: bash
      run: |
        git clone "https://github.com/bluetuith-org/dotnet-releaser" ../tools/dn/
        dotnet tool install --global csharpier
        dotnet build ../tools/dn/src/dotnet-releaser/dotnet-releaser.csproj -c Release
        ../tools/dn/src/dotnet-releaser/bin/Release/net10.0/dotnet-releaser.exe run --github-token "${{secrets.GITHUB_TOKEN}}" "src/dotnet-releaser.toml"